/* =========================
   CARRITO
========================= */

.cart-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.45);
  z-index:9998;
}

.cart-sidebar{
  position:fixed;
  top:20px;
  right:-450px;
  width:390px;
  height:calc(100vh - 40px);
  background:white;
  z-index:9999;
  transition:.4s;
  border-radius:25px 0 0 25px;
  padding:25px;
  overflow-y:auto;
  box-shadow:-10px 0 30px rgba(0,0,0,.15);
}

.cart-sidebar.active{
  right:20px;
}

.cart-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.cart-header button{
  width:38px;
  height:38px;
  border:none;
  border-radius:50%;
  background:#ff6b35;
  color:white;
  cursor:pointer;
}

.cart-item{
  display:flex;
  gap:15px;
  align-items:center;
  padding-bottom:18px;
  margin-bottom:18px;
  border-bottom:1px solid #eee;
}

.cart-item img{
  width:85px;
  height:85px;
  object-fit:cover;
  border-radius:15px;
}

.cart-info{
  flex:1;
}

.cart-info h4{
  margin-bottom:8px;
}

.cart-info p{
  color:#ff6b35;
  font-weight:700;
}

.delete-btn{
  border:none;
  width:36px;
  height:36px;
  border-radius:50%;
  background:#dc3545;
  color:white;
  cursor:pointer;
}

.pay-btn,
.clear-btn{
  width:100%;
  border:none;
  padding:15px;
  border-radius:14px;
  cursor:pointer;
  margin-top:10px;
}

.pay-btn{
  background:#ff6b35;
  color:white;
}

.clear-btn{
  background:#111827;
  color:white;
}

/* =========================
   MOBILE
========================= */

@media(max-width:700px){

  .cart-sidebar{
    width:100%;
    height:100vh;
    top:0;
    right:-100%;
    border-radius:0;
    padding:20px;
  }

  .cart-sidebar.active{
    right:0;
  }

}